<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centralino - Lezioni di oggi</title>
    <link rel="stylesheet" href="/html/centralino/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.31/jspdf.plugin.autotable.min.js"></script>

    <script src="/html/dropdown.js" defer></script>
</head>

<body>
    <header>
        <h1 id="greeting">Centralino Dashboard</h1>
        <nav>
            <ul>
                <li><a href="/loginCentraline" class="nav-active">Dashboard</a></li>
                <li>
                    <a href="/notifiche/pagina" class="notifiche-link">
                        <span class="icon notifiche-bell">notifications</span>
                    </a>
                </li>
                <li class="profile-dropdown">
                    <span class="icon profile-icon">account_circle</span>
                    <div class="profile-menu">
                        <div class="profile-menu-content">
                            <p>{{ username | title }}<br><small>({% if tipo == 'docente' %}Amministratore{% elif tipo ==
                                    'centralino' %}Centralino{% elif tipo == 'tutor' %}Tutor{% elif tipo == 'tutee'
                                    %}Tutee{% else %}{{ tipo|capitalize }}{% endif %})</small></p>
                            <a href="/logout"><span class="icon">logout</span> Logout</a>
                        </div>
                    </div>
                </li>
                <li class="version-display">v{{ versione_servizio }}</li>
            </ul>
        </nav>
    </header>


    <h1 id="titolo">Lezioni di oggi</h1>

    <div id="change-day">
        <div>
            <button id="prev-day">&larr; Giorno precedente</button>
            <button id="next-day">Giorno successivo &rarr;</button>
        </div>
        <button id="pdf-button">Esporta PDF</button>
    </div>

    <h2>Lezioni alle 13.40</h2>
    <table id="lessons-table-1" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Tutor</th>
                <th>Tutee</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <h2>Lezioni alle 14.30</h2>
    <table id="lessons-table-2" border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Ora</th>
                <th>Tutor</th>
                <th>Tutee</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <script src="/html/centralino/script.js"></script>
</body>

</html>