@import '../../main.css';

/*header*/
header {
    background-color: var(--primary-color_tutee);
}

/*filters*/
.filters {
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 1vh;
    width: fit-content;
}

.filters h3 {
    align-self: center;
}

.filters div{
    display: flex;
    gap: 1vw;
}

.filters label {
    width: 100%;
}

select:focus {
    border-color: var(--primary-color_tutee);
    box-shadow: 0 0 5px rgba(0, 221, 155, 0.3);
}

/*button and inputs*/
button, .prenota-btn {
    background-color: var(--primary-color_tutee);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: background-color var(--transition), scale var(--transition);
}

input:focus {
    border-color: var(--primary-color_tutee);
}

button:hover, .prenota-btn:hover {
    background-color: var(--primary-color-hover_tutee);
    scale: 1.05;
}

button:active, .prenota-btn:active {
    background-color: var(--primary-color-active_tutee);
}

button:focus, .prenota-btn:focus {
    box-shadow: 0 2px 4px rgba(0, 221, 155, 0.3);
}

/* Tutors grid and cards */
.tutor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
}

.tutor-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
}

.tutor-card h3 {
    margin-top: 0;
    margin-bottom: 5px;
    color: var(--text-color);
}

.tutor-desc {
    margin: 15px 0;
    font-size: 0.9em;
    color: #555;
    flex-grow: 1;
}

.tutor-subjects {
    margin-bottom: 15px;
    font-size: 0.85em;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tutor-subjects span {
    background-color: var(--primary-color_tutor);
    color: white;
    padding: 3px 8px;
    border-radius: 12px;
}

/* Capitalize FullCalendar Month Title */
.fc-toolbar-title {
    text-transform: capitalize !important;
}
